{% extends 'base.html'%}

{% block content %}
<h3 class="text-darken-4 center-align">Add Categories</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_category')}}">
        <div class="row card-panel grey lighten-5">
            <div class="input-field col s12">

                <input id="category_name" name="category_name" type="text" class="validate" minlength="3" maxlength="25" required>
                <label for="category_name">Category Name</label>
            </div>

            <div class="col s12 center-align">
                <button type="submit" class="btn-large pink accent-4">
                    Add Category <i class="fas fa-plus"></i>
                </button>
            </div>

        </div>
    </form>
</div>
{% endblock %}